<div class="user-wrapper">
  <div class="user-container">
    <div class="header-name">
      <h2>ログイン</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :user_name, "ユーザーID" %><br />
        <%= f.text_field :user_name, autofocus: true, placeholder: "アルファベットか数字" %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード" %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "６文字以上のアルファベットと数字" %>
      </div>


      <%# <% if devise_mapping.rememberable?
        <div class="field">
          <%= f.check_box :remember_me
          <%= f.label :remember_me, "ユーザーIDを保存する"
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン", class: "login-submit" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>